*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

nav{
    display: flex;
    justify-content: space-between;
    padding: 0px 20px;
}
.details{
    display: flex;
    gap:20px;
    cursor: pointer;
}
form{
    display: flex;
    flex-direction: column;
    gap:30px;
    justify-content: center;
    align-items: center;
    padding: 30px 0px;

}
main form input{
    width: 60%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}
html, body {
    scroll-behavior: smooth;
}
.info-nav{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    justify-items: center;
    align-items: center;
    padding: 30px 0px;
}
.row{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    justify-items: center;
    align-items: center;
    padding: 20px 0px;

}
li{
    list-style: none;
}