*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}



form{
    display: flex;
    flex-direction: column;
    gap:30px;
    justify-content: center;
    align-items: center;
    padding: 30px 0px;

}
main form input{
    width: 60%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}
html, body {
    scroll-behavior: smooth;
}
.info-nav{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    justify-items: center;
    align-items: center;
    padding: 30px 0px;
}
.row{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    justify-items: center;
    align-items: center;
    padding: 20px 0px;

}
li{
    list-style: none;
}

        body {
            font-family: Arial, sans-serif;
        }
        table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 20px;
        }
        th, td {
            border: 1px solid #ddd;
            padding: 8px;
            text-align: left;
        }
        th {
            background-color: #f2f2f2;
        }
        button {
            padding: 5px 10px;
            cursor: pointer;
        }
